<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinAppSchoolCanteen.Properties.Settings.School_canteenConnectionString"
            connectionString="Data Source=DESKTOP-TVLAIMU\SQLEXPRESS;Initial Catalog=&quot;School canteen&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WinAppSchoolCanteen.Properties.Settings.SchoolCanteenConnectionString"
            connectionString="Data Source=DESKTOP-TVLAIMU\SQLEXPRESS;Initial Catalog=SchoolCanteen;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>